<div class="AddTaskForm">
    Add new task:

    <form [ngFormModel]="taskForm" (submit)="createNewTask($event)">
        <div>
            <label for="task">Task</label>
            <input type="text"
                   id="task"
                   placeholder="Task name"
                   [(ngModel)] = "taskModel.task"
                   ngControl="task">
        </div>
        <div>
            <label for="description">Description</label>
            <input type="text"
                   id="description"
                   placeholder="Task description"
                   [(ngModel)] = "taskModel.description"
                   ngControl="description">
        </div>
        <div>
            <label for="ticket">Ticket</label>
            <input type="text"
                   id="ticket"
                   placeholder="Ticket number"
                   [(ngModel)] = "taskModel.ticket"
                   ngControl="ticket">
        </div>
        <div>
            <label for="assignee">Assignee</label>
            <input type="text"
                   id="assignee"
                   [(ngModel)] = "taskModel.user.assignee"
                   ngControl="assignee">
        </div>

        <div>
            <button type="submit">Create</button>
        </div>
    </form>
</div>