.done-login {
    display: flex;
    flex-wrap: wrap;
    max-width: 200px
    margin: 20px auto;

    span {
        font-size: 110%
    }

    & > * {
        display: block;
        flex-basis: 100%;
        margin-bottom: 10px
    }

    input {
        height: 40px;
        width: 200px;
        border: #dcdcdc 1px solid
        line-height: 40px;
    }
}