//use('../../node_modules/stylobuild', {
//	autoprefixer: { browsers: "last 2 version, Explorer >=8"},
//	csso: true,
//	pixrem: false
//});

@import 'normalize';

@import '../../app/**/index.styl';

$c-main-text = rgba(80, 80, 80, 1);
$c-main-separator = rgba(220, 220, 220, .25);

* {
	box-sizing: border-box;
	margin: 0;
}

html, body {
	height: 100%;
}

body {
	font-family: 'Roboto', sans-serif;
	line-height: 15px;
	font-size: 12px;
	background: rgba(250, 250, 250, 1);
	color: $c-main-text;
	min-width: 480px;
}

.done-border {
	min-height: 100vh;
	border-top: 1vmin lighten(rgba(0, 160, 200, 1), 10 ) solid;
	border-bottom: 1vmin rgba(0, 160, 200, 1) solid;
	background-image: linear-gradient(to bottom, lighten(rgba(0, 160, 200, 1), 10 ) 0%,rgba(0, 160, 200, 1) 100%), linear-gradient(to bottom, lighten(rgba(0, 160, 200, 1), 10 ) 0%,rgba(0, 160, 200, 1) 100%);
	background-position: 0 0, 100% 0;
	background-repeat: no-repeat;
	background-size: 1vmin 100%;
}

.done-wrapper {
	position: relative;
	margin: 0 auto;
	padding: 0 80px;
	min-width: 400px;
	max-width: 1100px;
}

.done-block {
	width: 100%;
	min-height: 100px;
	//border: 1px solid red;
	padding: 20px 0;
	position: relative;

	margin: 20px auto;

	&__header {
		margin: 20px 0px 20px 20px;
		opacity: .5;
		font-size: 16px;
	}

	&::before {
		position: absolute;
		top: -15px;
		left: 10px;
		padding: 5px 20px;
		border-radius: 4px;
		font-weight: 800;
	}

	&_todo {

		/*&::before {
			content: 'TODO';
			background-color: #d2d2d2;
		}*/

	}

	&_sprint {
		/*&::before {
			content: 'Sprint';
			background-color: rgba(51, 204, 255, 1);
		}*/

		.done-task {
			background-color: rgba(51, 204, 255, .1);
		}
	}

	&_testing {
		/*&::before {
			content: 'Testing in progress';
			background-color: rgba(255, 153, 102, 1);
		}*/

		.done-task {
			background-color: rgba(255, 153, 102, .1);
		}
	}

	&_done {
		/*&::before {
			content: 'Done';
			background-color: rgba(0, 204, 102, 1);
		}*/

		.done-task {
			background-color: rgba(0, 204, 0, .1);
		}
	}
}

.done-task, .done-new {
	position: relative;

	width: 100%;
	min-height: 50px;
	background-color: rgba(255, 255, 255, 1);

	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	padding: 0 5px;
	border-radius: 4px;
	box-shadow: 0px 2px 2px rgba(80, 80, 80, .1);

	margin-bottom: 60px;

	&__custom {
		position: absolute;
		top: 20px;
		left: -30px;
		width: 20px;
		height: 20px;
		background-color: rgba(100, 100, 100, .25);
		border-radius: 100%;
	}

	@media (max-width: 980px) {
		flex-wrap: wrap;
		align-items: stretch;
		padding: 0 0;
	}

	&__tip {
		border-radius: 8px;
	}

	&__additional {
		position: absolute;
		width: 100%;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		&__item {
			opacity: .75;
			transition: opacity .25s ease-in-out;

			&:hover {
				opacity: 1;
			}
		}
	}

	&__additional {
		margin-top: 5px;
		top: 100%;
		left: 10px;
	}

	&__field {
		padding: 5px 10px;
		flex-basis: 0;
		flex-grow: 10;
		border-right: 1px solid $c-main-separator;
		display: flex;
		min-width: 30%;

		&:last-child {
			border-right: none;
		}

		&__assigner, &__assignee, &__tester {
			flex-grow: 2;
			min-width: 6%;
			text-align: center;
			align-self: center;
		}

		&__marker, &__ticket, &__deadline, &__time {
			flex-grow: 3;
			min-width: 9%;

		}

		&__deadline {
			white-space: nowrap;
		}

		&__task {
			flex-grow: 5;
			overflow: hidden;
			text-overflow: ellipsis;
			min-width: 15%;
		}

		&__description {
			font-size: 11px;
			padding: 16px;
		}

		&__time {
			border-right: none;
		}

		@media (max-width: 980px) {
			order: 2;
			flex-basis: 25%;
			padding: 10px 10px;

			&__assigner, &__assignee, &__tester, &__marker {
				order: 1;
				border-bottom: 1px solid $c-main-separator;
			}

			&__task {
				order: 2;
				flex-basis: 25%;
				border-bottom: 1px solid $c-main-separator;
			}

			&__description {
				order: 2;
				flex-basis: 75%;
				border-bottom: 1px solid $c-main-separator;
			}

			&__description, &__tester {
				border-right: none;
			}

		}
	}
}

.done-user {
	position: relative;
	display: inline-block;
	//padding: 4px 8px;
	line-height: 26px;
	text-align: center;
	height: 24px;
	width: 40px;
	background-color: rgba(100, 140, 240, 1);
	color: white;
	font-weight: 800;
	border-radius: 4px;
	opacity: .75;
	transition: opacity .1s ease-in-out;
	font-size: 11px;
	z-index: 1000;

	&__at {
		background-color: rgba(255, 204, 102, 1);
		color: black;
	}

	&__ec {
		background-color: rgba(46, 184, 46, 1);
		color: white;
	}

	&__list {
		position: absolute;
		left: 0;
		top: 100%;
		padding: 10px;
		box-shadow: 0 2px 4px rgba(80, 80, 80, .2);
		background-color: white;
		z-index: 1000;
		list-style: none;
		display: none;

		li {
			margin: 5px;
		}
	}

	&:hover {
		opacity: 1;
		cursor: pointer;

		.done-user__list {
			display: block;
		}
	}
}

.done-tags {
	display: inline-flex;
	padding: 5px 10px;


	&__tag {
		background-color: rgba(255, 224, 41, .75);
		padding: 5px 4px 3px;
		margin-right: 6px;
		border-radius: 4px;
		cursor: pointer;

		transition: all .25s ease-in-out;

		&:hover {
			background-color: rgba(255, 224, 41, 1);
		}
	}

	&__add {
		background-color: rgba(100, 140, 240, 1);
		padding: 5px 8px 3px;
		margin-right: 4px;
		border-radius: 4px;
		color: white;
		font-weight: bold;
		cursor: pointer;
	}
}

.done-actions {
	@extend .done-tags;


	&__action {
		@extend .done-tags__tag;

        border: none;
	}

	&__add {
		@extend .done-tags__add;
	}
}

.done-deadline {
	padding: 5px 10px;
	background-color: rgba(220, 220, 220, 1);
	border-radius: 4px;
	cursor: pointer;
}

.done-ticket {
	text-decoration: none;
	border-bottom: 1px solid rgba(100, 140, 240, .25);
	transition: all .15s ease-in-out;

	&:hover {
		border-bottom: 1px solid rgba(100, 140, 240, .5);
	}
}

.done-time {
	span {
		white-space: nowrap;
	}
}

.done-priorities {
	display: flex;
	display: none;
	flex-wrap: wrap;
	margin: 40px 0;
	padding: 0;
	border: 10px solid white;
	justify-content: space-between;

	&__item {
		flex-grow: 1;
		flex-basis: 30%;
		min-width: 240px;
		width: 30%;
		padding: 40px;

		font-size: 22px;
		line-height: 28px;
		font-weight: 100;
		border: 10px solid white;
	}
}

.done-header {
	position: relative;
	margin: 20px auto;
	min-width: 400px;
	max-width: 1100px;
	padding: 0 80px;
	font-size: 32px;
	font-weight: 800;
	min-height: 40px;
	line-height: 40px;
}

.done-navigation {
	position: relative;
	margin: 20px auto;
	min-width: 400px;
	max-width: 1100px;

	padding: 10px 80px;

	display: flex;

	&__item {
		position: relative;
		margin-right: 20px;
		background-color: white;
		padding: 10px 20px;
		box-shadow: 0 2px 2px rgba(80,80,80,.1);
		border-radius: 4px;
		opacity: .5;
		cursor: pointer;
		transition: all .1s ease-in-out;
		height: 32px;
		//line-height: 30px;

		&:hover {
			opacity: 1;
		}

		&_active {
			background-color: rgba(100, 140, 240, 1);
			color: #ffffff;
			font-weight: 800;
			opacity: 1;
		}

		&__counter {
			font-size: 10px;
			color: #ffffff;
			//font-weight: 800;
			position: absolute;
			width: 18px;
			height: 18px;
			line-height: 18px;
			border-radius: 8px;
			top: -10px;
			right: -10px;
			background-color: rgba(100, 140, 240, 1);
			text-align: center;
		}
	}
}
